* {
    box-sizing: border-box;
    margin: 0;   
    padding: 0;
    background-color: #111010;
  }

a, button{
    font-family: sans-serif;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    background-color: black;
  }

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
  }

.logo{
  margin-right: auto;
}

button{
  padding: 9px 25px;
  background-color: rgb(235,115,19,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgba(235,115,19,0.7);
}

.title h1{
  width: 100%;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  font-size: 70px;
}

.content{
  width: 100%;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

input{
  background-color: #fff;
  font-size: 15px;
}

.text-input {
  width: 35%;
  padding: 3px;
}

.button-input {
  padding: 3px;
}

.result{
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  font-size: 20px;
  left: 23%;
}

.table1 {
  border-collapse: collapse;
}

tr, td {
  text-align: left;
  padding: 5px;
}

.again{
  margin: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.a.button{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
}