<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/index2.css' )}}" rel="stylesheet" type="text/css"> 
    <title>About Me</title>
</head>
<body>
    <header>
        <a class="home" href="{{ url_for('home') }}"><button>Shopee: Tebak Kata</button></a>
        <a class="about" href="{{ url_for('about') }}"><button>About Me</button></a>
    </header>
    <h2 class="title_about">Under Maintenance</h2>
</body>
</html>