<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css' )}}">
</head>
<body>
    <header>
        <a class="logo" href="{{ url_for('home') }}"><button>Home</button></a>
        <a class="about" href="{{ url_for('about') }}"><button>About Me</button></a>
    </header>
    <div class="content">
        <h3>Under Maintenence</h3>
    </div>
</body>
</html>