<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tebak Kata: Hasil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css' )}}">
</head>
<body>
    <header>
        <a class="logo" href="{{ url_for('home') }}"><button>Home</button></a>
        <a class="about" href="{{ url_for('about') }}"><button>About Me</button></a>
    </header>
    <div class="title">
        <h1>Hasil Pencarian</h1>
    </div>
    <div class="result">
        <table class="table1">
            <tr>
                <td>Tiga Huruf</td>
                <td>:</td>
                <td>{% for tiga in tiga_kata %} {{ tiga }} {% endfor %}</td>
            </tr>
            <tr>
                <td>Empat Huruf</td>
                <td>:</td>
                <td>{% for empat in empat_kata %} {{ empat }} {% endfor %}</td>
            </tr>
            <tr>
                <td>Lima Huruf</td>
                <td>:</td>
                <td>{% for lima in lima_kata %} {{ lima }} {% endfor %}</td>
            </tr>
            <tr>
                <td>Enam Huruf</td>
                <td>:</td>
                <td>{% for enam in enam_kata %} {{ enam }} {% endfor %}</td>
            </tr>
            <tr>
                <td>Tujuh Huruf</td>
                <td>:</td>
                <td>{% for tujuh in tujuh_kata %} {{ tujuh }} {% endfor %}</td>
            </tr>
        </table>
    </div>
    <div class="again">
        <a href="{{ url_for('home') }}" class="button"><button>Coba Lagi</button></a>
    </div>
</body>
</html>