<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tebak Kata</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css' )}}">

</head>
<body >
    <div class="banner">
        <div class="content">
            <h1>Generator Tebak Kata</h1>
            <br><br>
            <form method="post">
                <input name="text" placeholder="Ketik huruf-huruf di sini . . .">
                <input name="angka" placeholder="Jumlah huruf maksimal . .. ">
                <input type="submit">
            </form>
        </div>
    </div>
    
</body>
</html>